Source: range-libzmq
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7), pkg-config, autoconf
Standards-Version: 3.7.3

Package: range-libzmq
Version: 3.2.2.3
Provides: libzmq3
Section: comm
Priority: optional
Architecture: i386
Essential: no
Depends: libc6-i686, pkg-config
Description: Range Networks - Tested Version of libzmq

